.venv
video
video_temporal

gail_experts
ckpt
outputs
wandb
*.pyc
screenlog.0
api_carla/
expert-data
ckpts
ckpts_temporal
Gifs_Expert_Dataset
.env
screenlog.*
eval/
runs/
0.csv
CLAUDE.md
*.pth
*.mp4
plot_city/plot_traj
plot_city/bev_snapshots